<!doctype html>
<html class="no-js" lang="en" dir="ltr" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="utf-8">
  <meta property="og:title" content="Idahopowerlifting - Ryans Blog">
  <meta property="og:type" content="website">
  <meta property="og:image" content="http://www.idahopowerlifting.comimages/avatar3.jpg">
  <meta property="og:image" content="http://www.idahopowerlifting.comimages/ryan_avatar1.jpg">
  <meta property="og:image" content="http://www.idahopowerlifting.comimages/ryan_carsquat.jpg">
  <meta property="og:image" content="http://www.idahopowerlifting.comimages/ryan_avatar2.jpg">
  <meta property="og:image" content="http://www.idahopowerlifting.comimages/RyansMonolift.JPG">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Idahopowerlifting.com - WeLcOmE</title>
  <!--<base href="http://www.idahopowerlifting.com/">-->
  <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Graduate" type="text/css" media="screen">
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" type="text/css" media="screen">
  <link rel="stylesheet" href="css/foundation.css">
  <link rel="stylesheet" href="css/app.css">

</head>

<body ng-app="Mod" ng-controller="Ctrl">
  <div youtube-dialog title="" open="{{dialogOpen}}" close-button="" close-callback="handleClose">
    <div ng-switch="thetypeofdialog">
        <iframe width="560" height="315" ng-switch-when="youtube" ng-src="{{message1}}" frameborder="0" allowfullscreen></iframe>
        <div ng-switch-when="image">
            <div class="wrapper"><img src="{{message1}}"/></div>
            <p class="cntr">{{message2}}</p>
        </div>
       <div ng-switch-default>
            <div class="wrapper"><img src="{{message1}}"/></div>
            <p class="cntr">{{message2}}</p>
        </div>
    </div>
  </div>
  <div class="main">
    <header>
      <div class="row medium-collapse large-collapse removepadding">
        <div class="large-7 columns">
          <h1 class="powerheader">Idaho Powerlifting</h1>
        </div>
        <div class="login large-5 columns">
          <!--dynamic stuff here-->
          <form action="http://www.idahopowerlifting.com/index.php/blog" method="post" accept-charset="utf-8" class="ng-pristine ng-valid">
            <div class="wrapper"><label for="username">Username: </label><input type="text" name="username" value="" id="username" size="12" class="inputbox"></div>&nbsp;&nbsp;
            <div class="wrapper "><label for="password">Password: </label>
              <input type="password" name="password" value="" id="password" size="12" class="inputbox"></div>&nbsp;&nbsp;
            <div class="wrapper"><input type="submit" name="submit" value=">>" id="submit" class="button"></div>
          </form>
        </div>
      </div>

      <div class="row show-for-large medium-collapse large-collapse removepadding">
        <div class="large-12 columns">
          <div class="slideshowwrapper">
          <div id="slideshow">
            <img src="images/01.jpg" alt="" class="fx"><!-- remove class later -->
            <img src="images/02.jpg" alt="">
            <img src="images/03.jpg" alt="">
            <img src="images/04.jpg" alt="">
          </div>
          </div>
        </div>
      </div>
    </header>
    <div class="row medium-collapse large-collapse removepadding">
      <div class="large-8 medium-8 columns fixed-width-right">
        <!-- Grid Example -->
        <div class="row">
          <div class="large-12 columns">

            <article><!-- Put repeat here -->
              <div class="entry">
                <header>
                  <div class="head">
                    <div class="date"><span class="day ng-binding">12</span>
                      <div class="ddate ng-binding">Apr 2017</div>
                    </div>
                    <h3 class="ng-binding">Deload Squat, Bench</h3>
                    <hr>

                  </div>
                </header>
                <div class="entrybody" dynamic="item.body">
                  <p class="ng-scope">Felt like a bit of changeup incorporated bands today followed by taking the bands off to see how much more
                    faster I move the weight. I feel like I need to deload heavier on bench and lighter on squats seems to
                    me.
                  </p>
                  <p class="ng-scope">1) Box jumps 4 sets of 3 inbetween squat sets</p>
                  <p class="ng-scope">2) Box squat close stance with green bands barx3 barx3 135x3 135x3 225x3 225x3 took off bands 225x3</p>
                  <p class="ng-scope">3) Bench with doubled minibands 135x3 135x3 185x3 225x3 took off bands 275x3</p>
                  <p class="ng-scope">4) Weighted Chinups 25lbs 4 sets of 5</p>
                  <p class="ng-scope">5) Hub lift 3 sets worked up to 35lbs</p>
                  <p class="ng-scope">6) Coc gripper #1 2 sets</p>
                  <p class="ng-scope">7) Rolling thunder 90lb 3 sets of 10 each hand, left hand failed on last set at 9</p>
                </div>
              </div>
            </article>
            <article><!-- Put repeat here -->
              <div class="entry">
                <header>
                  <div class="head">
                    <div class="date"><span class="day ng-binding">12</span>
                      <div class="ddate ng-binding">Apr 2017</div>
                    </div>
                    <h3 class="ng-binding">Deload Squat, Bench</h3>
                    <hr>

                  </div>
                </header>
                <div class="entrybody" dynamic="item.body">
                  <p class="ng-scope">Felt like a bit of changeup incorporated bands today followed by taking the bands off to see how much more
                    faster I move the weight. I feel like I need to deload heavier on bench and lighter on squats seems to
                    me.
                  </p>
                  <p class="ng-scope">1) Box jumps 4 sets of 3 inbetween squat sets</p>
                  <p class="ng-scope">2) Box squat close stance with green bands barx3 barx3 135x3 135x3 225x3 225x3 took off bands 225x3</p>
                  <p class="ng-scope">3) Bench with doubled minibands 135x3 135x3 185x3 225x3 took off bands 275x3</p>
                  <p class="ng-scope">4) Weighted Chinups 25lbs 4 sets of 5</p>
                  <p class="ng-scope">5) Hub lift 3 sets worked up to 35lbs</p>
                  <p class="ng-scope">6) Coc gripper #1 2 sets</p>
                  <p class="ng-scope">7) Rolling thunder 90lb 3 sets of 10 each hand, left hand failed on last set at 9</p>
                </div>
              </div>
            </article>

            <div class="bottomNav">
            <a href="javascript:void(0)" ng-click="navigatePrevious()">&larr; A Week Back</a><span ng-show="showNext">&nbsp;&nbsp;|&nbsp;&nbsp;<a href="javascript:void(0)" ng-click="navigateNext()">A Week Forward &rarr;</a></span>
            </div>
          </div>
        </div>





      </div>

      <div class="large-4 medium-4 columns fixed-width">
        <div class="sidebox">
          <section>
            <div class="head htop">Search</div>
            <div class="search">
              <form id="mySearchForm" ng-submit="searchWorkouts()">
                <input type="text" class="inputbox" ng-model="searchText" id="search" value="" name="search">
                <input type="submit"
                  class="button" id="searchBtn" value="&gt;&gt;" name="submit"> </div>
            </form>
          </section>
          <section>
            <div class="cdate">Click Date Below <br/>to Change Results</div>
            <div class="demo">
              <div type="text" id="datepicker" ng-model="date" datepicker></div>
            </div>
          </section>
          <section class="show-for-medium">
            <div class="imagegym">
              <button id="slideshow-previous" class="myButton"></button>
              <div id="slideshow-area">
                <div id="slideshow-scroller">
                  <div id="slideshow-holder">
                    <div class="slideshow-content">
                      <div class="thumb">
                        <img src="images/28wfd.jpg" ng-click="openImg('images/28wfd.jpg', 'Picture of my Weight for Distance. I have since changed the handle to O ring.')">
                      </div>
                      <div class="thumb">
                        <img src="images/375_n_chain.jpg" ng-click="openImg('images/375_n_chain.jpg', 'All of my squatting chain.')">
                      </div>
                      <div class="thumb">
                        <img src="images/calfhamglute_ryan.jpg" ng-click="openImg('images/calfhamglute_ryan.jpg', 'Homemade Calf Ham Glute Raise w/ just lumber and pipe.')">
                      </div>
                      <div class="thumb">
                        <img src="images/cambered_ryan.jpg" ng-click="openImg('images/cambered_ryan.jpg', 'Cambered bench bar made with old crappy bar, blowtorch work, careful bending.')">
                      </div>
                    </div>
                    <div class="slideshow-content">
                      <div class="thumb">
                        <img src="images/kettlebell_new.jpg" ng-click="openImg('images/kettlebell_new.jpg', 'Basic homemade kettlebell, plumbing pipe and lumber.')">

                      </div>
                      <div class="thumb">
                        <img src="images/mygym.jpg" ng-click="openImg('images/mygym.jpg', 'Here is a shot of my first garage gym.')">

                      </div>
                      <div class="thumb">
                        <img src="images/pulling_blocks2.jpg" ng-click="openImg('images/pulling_blocks2.jpg', 'Deadlift off blocks.')">

                      </div>
                      <div class="thumb">
                        <img src="images/overheadpress_ryan.jpg" ng-click="openImg('images/overheadpress_ryan.jpg', 'Seated overhead press with a back brace.')">

                      </div>
                    </div>
                    <div class="slideshow-content">
                      <div class="thumb">
                        <img src="http://placehold.it/100x80">
                      </div>
                      <div class="thumb">
                        <img src="http://placehold.it/100x80">
                      </div>
                      <div class="thumb">
                        <img src="http://placehold.it/100x80">
                      </div>
                      <div class="thumb">
                        <img src="http://placehold.it/100x80">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button id="slideshow-next" class="myButton"></button>
            </div>
          </section>
          <section>
            <div class="social">
              <ul>

                <li>
                  <a href="http://www.twitter.com/idahoryan" target="_blank"><img src="images/twitter.jpg" width="49" height="57" border="0" /></a>
                </li>
                <li>
                  <a href="http://www.youtube.com/idahoryan23" target="_blank"><img src="images/social_youtube.jpg" width="49" height="57" border="0" /></a>
                </li>
              </ul>
            </div>
          </section>
          <div class="foot"></div>
        </div>
      </div>
    </div>
  </div>
  <script src="http://code.jquery.com/jquery-1.7.1.js"></script>
  <!-- <script type="text/javascript" src="js/mootools-more-1.4.0.1.js"></script> -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-sanitize.min.js"></script>
  <script src="js/vendor/what-input.js"></script>
  <script src="js/vendor/foundation.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
</body>

</html>